:root{
    font-family:'Lora','Roboto';
    --color--main:#f0ffff;
    --color--black:#000000;
    --color--white:#ffffff;
    --color--darkgreen: #013030;
    --color--lightred:#ef5454;
    --light--grey:#f5f5f5;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#search-section{
    height: 150px;
    width: 100%;
    display: flex;
    background-color: var(--color--darkgreen);
    box-sizing: border-box;


    align-items: center;
    justify-content: center;
}

#search-section #search-container{
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: left;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
}

#search-section #search-container #search-input{
    width: 300px;
    height: 100%;
    border-radius: 5px;
    border: none;
    padding: 0px 20px;
    font-size: 16px;
}

#search-section #search-container #search-btn{
    width: 100px;
    background-color: var(--color--lightred);
    color: var(--color--white);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s linear;
}

#search-section #search-container #search-btn:hover{
    cursor: pointer;
    background-color: var(--color--white);
    color: var(--color--black);
}
